* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border-style: dashed;
}










.container {
  display: flex;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-blue {
  background-color: blue;
}

.bg-ocra {
  background-color: #e2c239;
}