* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.bs-dash {
  border: 2px dashed;
}

hr {
  background-color: lightblue;
  padding: 1px;
}




.container {
  display: flex;
  justify-content: center;
}

.c-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lone {
  margin: 50px auto;
  width: 800px;

}

.c-main {
  display: flex;
  margin: 50px auto;
}


.cella {
  width: 100%;
  padding: 8px;
}

.cella-no-p {
  width: 100%;
}

.a-left {
  text-align: left;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}


/* WIDTHS */

.width-64 {
  width: 64%;
}

.width-18 {
  width: 18%;
}

.width-1k {
  width: 1000px;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}



/* HEIGTHS */
.height-75 {
  height: 75px;
}

.height-400 {
  height: 500px;
}

.height-800 {
  height: 800px;
}





/* COLORS */
.bg-lightblue {
  background-color: lightblue;
}

.bg-navy {
  background-color: navy;
}

.bg-ocra {
  background-color: #e2c239;
}

.bg-pink {
  background-color: pink;
}

.bg-plum {
  background-color: plum;
}

.bg-cyan {
  background-color: rgb(22, 107, 235);
}

.bg-gray {
  background-color: lightgray;
}

.bg-green {
  background-color: green;
}

.bg-ash {
  background-color: #222831;
}

.bg-pink-b {
  background-color: #f76b8a;
}

.bg-aqua {
  background-color: #53a8b6;
}

.bg-aquamarine {
  background-color: aquamarine;
}